@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

body {
  margin: 0;
}

.app-container {
  min-width: 375px;
  min-height: 400px;
  font-family: 'Manrope', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #202632;
}

.advice-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 500px;
  background-color: #313a49;
  border-radius: 16px;
  padding: 24px;
}

.advice-title {
  color: #5ee0ae;
  font-size: 15px;
  letter-spacing: 3px;
  margin: 24px 0px;
}

.advice-body {
  width: 90%;
  color: #cfe0ea;
  font-size: 28px;
  margin-bottom: 36px;
}

.pattern-divider {
  margin-bottom: 36px;
}

.randomize-button {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(32px);
  background-color: #53feaa;
  height: 64px;
  width: 64px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.randomize-button:hover{
  background-color: #53ffab;
  box-shadow: 0px 0px 30px 0px rgba(83,255,171,1);
}

@media (max-width: 700px) {
  .advice-container {
    transform: scale(.8);
  }
}

@media (max-width: 450px) {
  .advice-container {
    transform: scale(.7);
  }
}